// Using CSS custom properties of scss variables to
// retain the ability to adjust these at runtime.
// Based on browser needs, this may not be an option
:root {
  --input-active-background-color: coral;
  --primary-surface-background-color: darkblue;
  --primary-surface-text-color: white;
  --secondary-surface-background-color: lightgrey;
  --secondary-surface-text-color: black;
}
